<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--用户配置信息-->
  <appSettings>
    <!-- 优琥自动烧机测试线项目类 -->
    <add key="YOHOO_Project" value="CYOHOOApp" />
    <!-- 优琥项目编号 -->
    <add key="YOHOO_ProId" value="AUTO-CSX-YH190901-1" />
    <!-- 优琥项目名称 -->
    <add key="YOHOO_ProName" value="优琥自动烧机测试线" />
    <!-- 优琥项目描述 -->
    <add key="YOHOO_ProDesc" value="" />
    <!-- 加密狗密钥 -->
    <add key="YOHOO_DogLock" value="091cimT7bBbtvsIS" />
    <!-- 线体编号-->
    <add key="YOHOO_LineNo" value="0" />
    <!-- 线体名称-->
    <add key="YOHOO_LineName" value="L1" />
    <!-- 工单号-->
    <add key="YOHOO_OrderName" value="" />
    <!-- 治具最大槽位-->
    <add key="YOHOO_SlotMax" value="16" />
    <!-- 治具方向 0:(1->16);1:(16->1)-->
    <add key="YOHOO_FixPos" value="1" />
    <!-- 冠佳WebService接口地址http://192.168.3.130/Service.asmx-->
    <add key="YOHOO_UlrWeb" value="http://192.168.3.130/Service.asmx" />

    <!--绑定测试流程设置-->
    <add key="YOHOO_LOADUP_FlowId" value="0" />
    <add key="YOHOO_LOADUP_FlowName" value="LOADUP" />
    <!--初试高压流程设置-->
    <add key="YOHOO_PRETEST_FlowId" value="1" />
    <add key="YOHOO_PRETEST_FlowName" value="PRETEST" />
    <!--老化测试流程设置-->
    <add key="YOHOO_BI_FlowId" value="2" />
    <add key="YOHOO_BI_FlowName" value="BURNIN" />
    <!--终测高压流程设置-->
    <add key="YOHOO_HIPOT_FlowId" value="3" />
    <add key="YOHOO_HIPOT_FlowName" value="HIPOT" />
    <!--终测ATE流程设置-->
    <add key="YOHOO_ATE_FlowId" value="4" />
    <add key="YOHOO_ATE_FlowName" value="ATE" />
    <!--下机流程设置-->
    <add key="YOHOO_UNLOAD_FlowId" value="5" />
    <add key="YOHOO_UNLOAD_FlowName" value="UNLOAD" />

    <!--通电测试位-->
    <!--人工串口条码枪1对应槽位编号-->
    <add key="YOHOO_LOADUP_Manual_SnNo1" value="1,2,3,4,5,6,7,8" />
    <!--人工串口条码枪2对应槽位编号-->
    <add key="YOHOO_LOADUP_Manual_SnNo2" value="9,10,11,12,13,14,15,16" />
    <!--自动扫描条码枪1对应槽位编号-->
    <add key="YOHOO_LOADUP_Auto_SnNo1" value="1,2,3,4,5,6,7,8" />
    <!--自动扫描条码枪2对应槽位编号-->
    <add key="YOHOO_LOADUP_Auto_SnNo2" value="16,15,14,13,12,11,10,9" />

    <!--老化测试位-->
    <!-- 老化快充模式:Normal,QC2_0,QC3_0,FCP,SCP,PD3_0,PE3_0,VIVO,Reserve,OPPO,FSCP,MTK1_0,MTK2_0,PD3_1-->
    <add key="YOHOO_QCM_Type" value="Normal,QC2_0,QC3_0,FCP,SCP,PD3_0,PE3_0,VIVO,Reserve,OPPO,FSCP,MTK1_0,MTK2_0,PD3_1" />
    <!-- 老化列方向方向 0:(从左到右);1:(从右到左)-->
    <add key="YOHOO_ColPos" value="0" />

    <!--互联网设置-->
    <add key="YOHOO_IoT_Enable" value="0" />
    <add key="YOHOO_IoT_Server" value="192.168.3.130:1833" />
    <add key="YOHOO_Iot_Factory" value="YOHOO" />

  </appSettings>
</configuration>